body {
	--base-size: 20px;
	--gutter: calc(3 *var(--base-size));
	--color-primary: black;
	--color-secondary: rgb(38, 106, 252);
	--color-background: bisque;
}
header {
	background-color: var(--color-background);
	margin-bottom: 1.5rem;
	padding-block: calc(4*var(--base-size));
}


p,header {
	color: black;
	font-size: calc( 1.2*var(--base-size));
	padding-inline: var(--gutter);
}

section {
	block-size: 60vh;
}

p {
	color: var(--color-secondary);
}

li {
	margin-bottom: 1rem;
}

footer {
	background-color: var(--color-background);
	color: black;
	padding-top: var(--base-size);
	padding-bottom: calc(2*var(--base-size));
}