:root {
	--base-size: 20px;
	--gutter: calc(3 *var(--base-size));
	--color-bg: #f0f0f0;
	--color-text: #1E1E1E;
	--color-accent: #EDB525;
	--font-family: "Poppins";
}

body {
	margin: 0;
	background-color: var(--color-text);
	color: var(--color-bg);
	font-family: var(--font-family);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 3rem 2rem 2rem;
	flex-wrap: wrap;
}

header h1 {
	font-size: 1.2rem;
	font-weight: 400;
	margin: 0;
	order: 2;
}

header h2 {
	font-size: 1.2rem;
	font-weight: 400;
	margin: 0;
	color: var(--color-bg);
	order: 1;
}

section {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	border-bottom: 1px solid #444;
	padding: 1.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
  }
  
  a {
	text-decoration: none;
	color: inherit;
	width: 100%;
  }
  
  .project {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
  }
  
  .project h3 {
	font-size: 1rem;
	font-weight: 500;
	margin: 0;
	color: #edb525;
  }
  
  .project h2 {
	font-size: 1rem;
	font-weight: 500;
	margin: 0;
	color: white;
	text-align: right;
  }
  
  footer {
	text-align: center;
	padding: 3rem 1rem 2rem;
	font-size: 0.8rem;
	color: #888;
  }
  